playground.ipynb

# AWS Business
awscliv2.zip
aws/

# Terraform Business 
infra/terraform.tfvars
infra/terraform.tfstate*
infra/.terraform*

# Virtual Environment 
venv/**/*

# Python Bytecode
src/**/__pycache__/

# Credentials
credentials/*.json

# Airflow Business
airflow/.env
airflow/logs
airflow/config
airflow/dags/__pycache__/
airflow/plugins

# dbt Business
dbt/logs
dbt/core_telecom_dbt/target
dbt/core_telecom_dbt/dbt_packages
dbt/core_telecom_dbt/logs
dbt/core_telecom_dbt/.gitignore
dbt/core_telecom_dbt/**/*.gitkeep