playground.ipynb

# AWS Business
awscliv2.zip
aws/

# Terraform Business 
infra/terraform.tfvars
infra/terraform.tfstate
infra/.terraform*

# Virtual Environment 
venv/**/*

# Python Bytecode
src/**/__pycache__/

# Credentials
credentials/*.json


